In [ ]:
                        # smart street light Project
# group member 1)Siddhinath Pawar 2)Atharv Pawar 3)Avdhoot Sawant 4)Durvank Govalkar


# data exploration and cleaning

In [1]:
import pandas as pd

df= pd.read_csv('dataset.csv')
df.head(5)

   id        date   time
0   1  02-10-2021   9:45
1   2  02-10-2021   5:10
2   3  04-10-2021  21:33
3   4  05-10-2021  21:17
4   5  08-10-2021   2:53

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1000 non-null   int64
 1   date    1000 non-null   object
 2   time    1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [3]:
df.columns

Index(['id', 'date', 'time'], dtype='object')

In [4]:
df.shape

(1000, 3)

In [5]:
df.describe

<bound method NDFrame.describe of        id        date   time
0       1  02-10-2021   9:45
1       2  02-10-2021   5:10
2       3  04-10-2021  21:33
3       4  05-10-2021  21:17
4       5  08-10-2021   2:53
..    ...         ...    ...
995   996  29-09-2023  10:53
996   997  29-09-2023   7:23
997   998  29-09-2023   3:45
998   999  30-09-2023   6:45
999  1000  30-09-2023  11:49

[1000 rows x 3 columns]>

In [6]:
df.dropna()

       id        date   time
0       1  02-10-2021   9:45
1       2  02-10-2021   5:10
2       3  04-10-2021  21:33
3       4  05-10-2021  21:17
4       5  08-10-2021   2:53
..    ...         ...    ...
995   996  29-09-2023  10:53
996   997  29-09-2023   7:23
997   998  29-09-2023   3:45
998   999  30-09-2023   6:45
999  1000  30-09-2023  11:49

[1000 rows x 3 columns]